Repository apache/datafusion-ballista, pull requests merged in 2022-09, with the labels that each got.

#199 bump datafusion version
  ballista-cli/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/client/src/context.rs
  ballista/rust/core/Cargo.toml
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/proto/datafusion.proto
  ballista/rust/core/src/execution_plans/shuffle_writer.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/scheduler/mod.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  ballista/rust/scheduler/src/state/execution_graph.rs
  benchmarks/Cargo.toml
  examples/Cargo.toml
  python/Cargo.toml
  python/src/dataframe.rs
  python/src/dataset.rs
  python/src/functions.rs
  python/src/pyarrow_filter_expression.rs
  python/src/udaf.rs
  python/src/udf.rs
Labels: python

#200 Use DataFusion 12.0.0-rc1 (and add support for DateTimeIntervalExpr and more binary operators)
  ballista-cli/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/core/proto/ballista.proto
  ballista/rust/core/src/serde/physical_plan/from_proto.rs
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/serde/physical_plan/to_proto.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  ballista/rust/scheduler/src/scheduler_server/grpc.rs
  benchmarks/Cargo.toml
  examples/Cargo.toml
  python/Cargo.toml
  python/src/functions.rs
  python/src/udaf.rs
Labels: python

#204 [Python] Allow some config options to be set when creating context
  python/README.md
  python/src/ballista_context.rs
Labels: python

#202 Executor uses all available cores by default + add tuning guide
  ballista/rust/executor/Cargo.toml
  ballista/rust/executor/executor_config_spec.toml
  ballista/rust/executor/src/main.rs
  docs/source/index.rst
  docs/source/user-guide/configs.md
  docs/source/user-guide/tuning-guide.md
Labels: documentation

#223 Use datafusion 12.0.0 release from crates.io
  ballista-cli/Cargo.toml
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/Cargo.toml
  examples/Cargo.toml
  python/Cargo.toml
Labels: python

#222 MINOR: Increase default shuffle.partitions to 16
  ballista/rust/core/src/config.rs
  docs/source/user-guide/configs.md
  docs/source/user-guide/tuning-guide.md
  python/src/ballista_context.rs
Labels: python

#183 Prepare for 0.8.0 release
  .asf.yaml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  ballista-cli/Cargo.toml
  ballista/CHANGELOG.md
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/docker-compose.yaml
  dev/release/README.md
  dev/release/create-tarball.sh
  dev/release/download-python-wheels.py
  dev/release/release-tarball.sh
  dev/release/update_change_log-ballista.sh
  dev/release/update_change_log-datafusion.sh
  dev/release/update_change_log.sh
  dev/release/verify-release-candidate.sh
  dev/update_ballista_versions.py
  docs/source/user-guide/deployment/docker-compose.md
  examples/Cargo.toml
  python/Cargo.toml
Labels: python, development-process

#232 Fix integration tests
  dev/docker/ballista.dockerfile
  dev/integration-tests.sh
Labels: development-process

#264 Add user guide for Flight SQL
  ballista/rust/scheduler/src/planner.rs
  ballista/rust/scheduler/src/state/execution_graph.rs
  benchmarks/src/bin/tpch.rs
  dev/build-ballista-rust.sh
  docs/README.md
  docs/source/user-guide/flightsql.md
  docs/source/user-guide/introduction.md
Labels: documentation, development-process

#237 Update release instructions
  benchmarks/src/bin/tpch.rs
  dev/release/README.md
  dev/release/crate-deps.dot
  dev/release/crate-deps.svg
Labels: development-process

#289 Use latest datafusion
  ballista-cli/Cargo.toml
  ballista-cli/src/exec.rs
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/serde/physical_plan/mod.rs
  ballista/rust/core/src/utils.rs
  ballista/rust/executor/Cargo.toml
  ballista/rust/scheduler/Cargo.toml
  benchmarks/Cargo.toml
  examples/Cargo.toml
  python/Cargo.toml
Labels: python

#290 Add support for S3 data sources
  ballista-cli/Cargo.toml
  ballista-cli/src/main.rs
  ballista/rust/client/Cargo.toml
  ballista/rust/core/Cargo.toml
  ballista/rust/core/src/utils.rs
Labels: python

#274 User Guide improvements
  docs/README.md
  docs/build.sh
  docs/developer/configuration.md
  docs/source/index.rst
  docs/source/user-guide/cli.md
  docs/source/user-guide/deployment/docker-compose.md
  docs/source/user-guide/deployment/docker.md
  docs/source/user-guide/deployment/index.rst
  docs/source/user-guide/flightsql.md
  docs/source/user-guide/images/ballista-web-ui.png
  docs/source/user-guide/images/example-query-plan.png
  docs/source/user-guide/introduction.md
  docs/source/user-guide/python.md
  docs/source/user-guide/rust.md
  docs/source/user-guide/scheduler.md
  docs/source/user-guide/tuning-guide.md
Labels: documentation
